# Auto detect text files and perform LF normalization
* text=auto
*.assets filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.ress filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.axm filter=lfs diff=lfs merge=lfs -text
*.sln eol=crlf
*.csproj eol=crlf
*.asset eol=lf
Cinderella[[:space:]]City[[:space:]]Project[[:space:]]Master/EXEs/**/* filter=lfs diff=lfs merge=lfs -text
CC[[:space:]]Sim[[:space:]]-[[:space:]]Unity/_builds/**/* filter=lfs diff=lfs merge=lfs -text
